
  <a
    href="/api/dealers/{{dealerUuid}}/devices/{{deviceId}}/csv_runtime_history?start_time={{momentToUriComponent startTime timeZone}}&end_time={{momentToUriComponent endTime timeZone}}&device_type={{deviceType}}&time_zone={{timeZone}}"
    target="_blank">
    Download Runtime History CSV
  </a>
