<div class="notification-recipient-name">
  <a href="/notification_recipients/{{id}}/edit" class="edit-notification-recipient">{{name}}</a>
</div>
<div class="notification-recipient-email">{{email}}</div>
<div class="notification-recipient-selected-alerts">{{selectedAlerts this}}</div>
<div class="notification-recipient-actions">
  <a href="/notification_recipients/{{id}}/edit" class="edit-notification-recipient"><span class="icon-edit-sign"></span></a>
</div>
