<p>
  <span class="font-bold">{{firstName}} {{lastName}}</span>
  <br>
  {{#if address1}}
    {{address1}},
  {{/if}}
  {{#if address2}}
    {{address2}}
  {{/if}}
  <br>
  {{#if city}}
    {{city}},
  {{/if}}
  {{#if state}}
    {{state}}
  {{/if}}
  {{#if zip}}
    {{zip}}
  {{/if}}
<p>
